<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="smooth.css">
    <title>Document</title>
</head>
<body>
    <div id="APP" class="APP">
        <div class="Blur" ref="blur"></div>

        <!-- Mostrar String desde VUE -->
         <h1 class="title">{{h1}}</h1>


        <!-- Key Handle  -->
        <!-- <div @keyup.esc='DOMUSE' tabindex="0" ref="op" class="op">
            <h1>{{errMsjLabel}}</h1>
            Div KeyUp Event
        </div> -->

        <!-- TXT -->
        <div class="add" ref="add" @keyup.enter='AgregarObj' tabindex="0"> 
            <div class="GPTxt A">
                <input type="text" v-model="name" @keyup.enter="AgregarObj" class="txt" >
                <label class="LBTXT">First Name</label>
            </div>

            <div class="GPTxt B">
                    <input type="text" v-model="last" @keyup.enter="AgregarObj" class="txt" >
                    <label class="LBTXT">Last Name</label>
            </div>

            <div class="GPTxt C">
                    <input type="text" v-model="year" @keyup.enter="AgregarObj" class="txt" >
                    <label class="LBTXT">Year</label>
            </div>

            <button @click="closeAdd" class="can">Cancel</button>
            <button @click="AgregarObj" class="save">Agregar Familiar</button>
            
        </div>

        



        <button @click="showAdd" class="BTNL">Agregar Familiar</button>
        <button @click="ShowDIV" class="BTNL">Toast Test</button>

            
        <div class="window" ref="window" @click="CloseDIV">
            <!-- <button @click="CloseDIV" class="btnc">X</button> -->
            <h1>Save Complete</h1>
        </div>
     
        <div class="Scroll">
        <table  class="fam">
            <tr class="sw"><th>Name</th> <th>Lastname</th> <th>Year</th></tr>
            <tr v-for="L in Obj" ref="item"> <td>{{L.nombre}}</td> <td>{{L.apellido}}</td> <td>{{L.edad}}</td> </tr>

        </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="Code.js"></script> 
</body>
</html>